In [64]:
%reload_ext autoreload
%autoreload 2

import os, math
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import numpy as np
import pandas as pd

# OWN MODULES
from src.data.utils import get_data_tuples, get_data_loaders

ImportError: cannot import name 'get_data_loaders' from 'src.data.utils' (/Users/jeroenberrevoets/Documents/PhD/research/self/ITE/Livers - synthetic control/organsync/src/data/utils.py)

In [54]:
cats = np.load('../data/processed/liver_processed_cats.npy', allow_pickle=True)
conts = np.load('../data/processed/liver_processed_conts.npy', allow_pickle=True)

In [55]:
X, O, Y = get_data_tuples('../data/processed/liver_processed.csv')

In [58]:
train_length = math.floor(len(X) * 0.6)
val_length = math.floor(len(X) * 0.2)
test_length = len(X) - train_length - val_length

In [62]:
test_length

17109

In [50]:
O_conts = np.intersect1d(O.columns.values, conts)
O_cats = np.intersect1d(O.columns.values, cats)

O[O_cats].describe()

,ALCOHOL_HEAVY_DON,ANTIHYPE_DON,ARGININE_DON,BLOOD_INF_DON,CARDARREST_NEURO,CDC_RISK_HIV_DON,CITIZENSHIP_DON,CLIN_INFECT_DON,CMV_DON,COD_CAD_DON,...,TRANSFUS_TERM_DON,URINE_INF_DON,VASODIL_DON,VDRL_DON,abodon,coronary,death_mech_don_group,deathcirc,macro,micro
count,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,...,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000
mean,0.134759,0.256611,0.564720,0.094823,0.025720,0.174157,0.906170,0.587598,0.640639,1.098260,...,0.604492,0.129720,0.135156,-0.006313,1.172309,0.298908,2.375178,0.409830,0.383186,0.375775
std,0.392264,0.449794,0.507611,0.292973,0.326159,0.383629,0.388329,0.525957,0.488054,0.898415,...,0.834104,0.335997,0.358582,0.148512,0.972669,0.678410,1.762888,0.491805,0.546057,0.564637
min,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,0.000000,-1.000000,-1.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,3.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,...,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,4.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,...,3.000000,1.000000,1.000000,1.000000,3.000000,2.000000,6.000000,1.000000,2.000000,2.000000

In [51]:
X_conts = np.intersect1d(X.columns.values, conts)
X_cats = np.intersect1d(X.columns.values, cats)

X[X_cats].describe()

,ASCITES_TX,BACT_PERIT_TCR,CITIZENSHIP,CMV_STATUS,DGN2_TCR2,DGN_TCR1,DIAL_TX,EBV_SEROSTATUS,EDUCATION,ENCEPH_TX,...,WORK_INCOME_TRR,abo,cancer,diabbin,diag1,insdiab,meldstat,meldstatinit,status1,statushcc
count,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,...,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000,85538.000000
mean,1.050153,0.052304,0.956160,0.562405,0.826206,6.699467,0.095045,0.420059,2.409070,0.768197,...,0.106923,1.184000,0.193107,0.724193,5.852674,0.052784,0.040929,0.042122,0.030992,0.125243
std,0.749300,0.294368,0.210206,0.603362,3.776667,4.041499,0.300096,0.853098,1.497609,0.670456,...,0.456792,0.990969,0.394739,0.468206,3.981966,0.223602,0.198127,0.200868,0.173297,0.330996
min,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,...,-1.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,-1.000000,4.000000,0.000000,0.000000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,1.000000,1.000000,-1.000000,7.000000,0.000000,1.000000,2.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,0.000000,1.000000,1.000000,2.000000,9.000000,0.000000,1.000000,3.000000,1.000000,...,0.000000,2.000000,0.000000,1.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.000000,1.000000,1.000000,1.000000,18.000000,18.000000,1.000000,1.000000,6.000000,3.000000,...,1.000000,3.000000,1.000000,1.000000,18.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [52]:
Y

       PSTATUS   PTIME
0            1  2458.0
1            0  2544.0
2            1  1852.0
3            1  2546.0
4            0  2551.0
...        ...     ...
85533        0  2555.0
85534        0   902.0
85535        0  2280.0
85536        0  2544.0
85537        0   115.0

[85538 rows x 2 columns]